*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
    
body{
    padding: 0;
    margin: 0;
    font-family: 'Titillium Web', sans-serif;
    background-image: url('../img/bg.png');

}

body::-webkit-scrollbar { 
    display: none; 
}



/* ------------ container ------------ */
.container{
    width:30%;
    height:350px;
    position:absolute;
    top:30%;
    left:50%;
    transform:translate(-50%,-50%);
}


/* ------------ header ------------ */
.header{
    width: 100%;
    height:200px;
    background-image: url('../img/bg.png');
    background-size: 100% 200%;
    background-repeat: no-repeat;
    border-radius:0;
    position: relative;
    border-bottom:5px solid red;
}

.plan{
    width:100%;
    height:100px;
    padding:15px;
}

.plan h2{
    font-size:40px;
    font-family:cursive;
    color:yellow;
    text-shadow:1px 1px red;
    letter-spacing:3px;
    text-align:center;

}


.clear{
    width : 100%;
    height: 45px;
    padding:10px;
}
.clear i{
    font-size: 25px;
    color: yellow;
    float:right;
}
.clear i:hover{
    cursor: pointer;
    text-shadow: 1px 3px 5px #000;
    transform: rotate(45deg);
    /* transition:all 0.6s ease; */
}


#date{
    padding:10px;
    width:100%;
    color: yellow;
    text-shadow:1px 1px red;
    font-size: 20px;
    font-family: 'Titillium Web', sans-serif;
}



/* ------------ content ------------ */
.content{
    width:100%;
    height: 350px;
    overflow: auto;
    background-image: url('../img/bg.png');
    background-size:cover;
    background-position:center;
}


.content::-webkit-scrollbar { 
    display: none; 
}


.item{
    background:#9191c1;
    width:100%;
    height: 45px;
    position: relative;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    list-style: none;
    padding: 0;
    margin: 0;
}


.fa-circle-thin{
    position: absolute;
    font-size: 25px;
    padding-left:5px;
    left:15px;
    top:10px;
    color:white;
}
.item i.co:hover{
    cursor: pointer;
}
.fa-check-circle{
    position: absolute;
    font-size: 25px;
    padding-left:5px;
    left:15px;
    top:10px;
    color:#c1ff01;
    text-shadow:1px 0px white;
}

.text{
    position: absolute;
    padding:0;
    margin:0;
    font-size: 20px;
    left:60px;
    top:5px;
    background-color: transparent;
    width:100%;
    color:white;
}

.lineThrough{
    text-decoration: line-through;
    color : red;
}

.item i.de{
    position: absolute;
    font-size: 25px;
    right:15px;
    top:10px;
    color:red;
}

.item i.de:hover{
    color:#af0000;
    cursor: pointer;
}


/* ------------ add item ------------ */
.add-to-do{
    position: relative;
    width: 100%;
    height:75px;
    background-color: #2a2aad;
    padding: 10px;
}


.add-to-do i{
    position: absolute;
    font-size: 40px;
    color: yellow;
    top:20%;
}

.add-to-do input{
    position: absolute;
    left: 50px;
    width: 83%;
    background-color: none;
    font-size: 15px;
    padding:15px 10px;
    color:blue;
    background:white;
    border-radius:5px;
    border:none;
}


.add-to-do input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #4162f6;
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
}
.add-to-do input::-moz-placeholder { /* Firefox 19+ */
    color: #4162f6;
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
}
.add-to-do input:-ms-input-placeholder { /* IE 10+ */
    color: #4162f6;
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
}
.add-to-do input:-moz-placeholder { /* Firefox 18- */
    color: #4162f6;
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
}





/* =====THE SECTION OF THE MEDIA QUERY======= */

@media screen and (max-width:320px){

    *{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
    
body{
    padding: 0;
    margin: 0;
    font-family: 'Titillium Web', sans-serif;
    background-image: url('../img/bg.png');
/*     background-position:center;
    background-size:cover; */

}

body::-webkit-scrollbar { 
    display: none; 
}



/* ------------ container ------------ */
.container{
    width:90%;
    height:200px;
    position:absolute;
    top:20%;
    left:50%;
    transform:translate(-50%,-50%);
}


/* ------------ header ------------ */
.header{
    width: 100%;
    height:200px;
    background-image: url('../img/bg.png');
    background-size: 100% 200%;
    background-repeat: no-repeat;
    border-radius:0;
    position: relative;
    border-bottom:5px solid red;
}

.plan{
    width:100%;
    height:100px;
    padding:15px;
}

.plan h2{
    font-size:30px;
    font-family:cursive;
    color:yellow;
    text-shadow:1px 1px red;
    letter-spacing:3px;
    text-align:center;

}


.clear{
    width : 100%;
    height: 45px;
    padding:10px;
}
.clear i{
    font-size: 25px;
    color: yellow;
    float:right;
}
.clear i:hover{
    cursor: pointer;
    text-shadow: 1px 3px 5px #000;
    transform: rotate(45deg);
    /* transition:all 0.6s ease; */
}


#date{
    padding:10px;
    width:100%;
    color: yellow;
    text-shadow:1px 1px red;
    font-size: 20px;
    font-family: 'Titillium Web', sans-serif;
}



/* ------------ content ------------ */
.content{
    width:100%;
    height: 285px;
    overflow: auto;
    background-image: url('../img/bg.png');
    background-size:cover;
    background-position:center;
}


.content::-webkit-scrollbar { 
    display: none; 
}


.item{
    background:#9191c1;
    width:100%;
    height: 45px;
    position: relative;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    list-style: none;
    padding: 0;
    margin: 0;
}


.fa-circle-thin{
    position: absolute;
    font-size: 15px;
    padding-left:5px;
    left:5px;
    top:11.5px;
    color:white;
}
.item i.co:hover{
    cursor: pointer;
}
.fa-check-circle{
    position: absolute;
    font-size: 15px;
    padding-left:5px;
    left:5px;
    top:11.5px;
    color:#c1ff01;
    text-shadow:1px 0px white;
}

.text{
    position: absolute;
    padding:0;
    margin:0;
    font-size: 15px;
    left:30px;
    top:8px;
    background-color: transparent;
    width:100%;
    color:white;
}

.lineThrough{
    text-decoration: line-through;
    color : red;
}

.item i.de{
    position: absolute;
    font-size: 20px;
    right:15px;
    top:10px;
    color:red;
}

.item i.de:hover{
    color:#af0000;
    cursor: pointer;
}


/* ------------ add item ------------ */
.add-to-do{
    position: relative;
    width: 100%;
    height:65px;
    background-color: #2a2aad;
    padding: 10px;
}


.add-to-do i{
    position: absolute;
    font-size: 30px;
    color: yellow;
    top:20%;
}

.add-to-do input{
    position: absolute;
    left: 40px;
    width: 80%;
    background-color: none;
    font-size: 15px;
    padding:10px;
    color:blue;
    background:white;
    border-radius:5px;
    border:none;
}


.add-to-do input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #4162f6;
    font-family: 'Titillium Web', sans-serif;
    font-size: 15px;
}
.add-to-do input::-moz-placeholder { /* Firefox 19+ */
    color: #4162f6;
    font-family: 'Titillium Web', sans-serif;
    font-size: 15px;
}
.add-to-do input:-ms-input-placeholder { /* IE 10+ */
    color: #4162f6;
    font-family: 'Titillium Web', sans-serif;
    font-size: 15px;
}
.add-to-do input:-moz-placeholder { /* Firefox 18- */
    color: #4162f6;
    font-family: 'Titillium Web', sans-serif;
    font-size: 15px;
}

}









/* =====THE SECTION OF THE MEDIA QUERY======= */

@media screen and (max-width:375px) and (min-width:321px){

    *{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
    
body{
    padding: 0;
    margin: 0;
    font-family: 'Titillium Web', sans-serif;
    background-image: url('../img/bg.png');
/*     background-position:center;
    background-size:cover; */

}

body::-webkit-scrollbar { 
    display: none; 
}



/* ------------ container ------------ */
.container{
    width:90%;
    height:200px;
    position:absolute;
    top:20%;
    left:50%;
    transform:translate(-50%,-50%);
}


/* ------------ header ------------ */
.header{
    width: 100%;
    height:200px;
    background-image: url('../img/bg.png');
    background-size: 100% 200%;
    background-repeat: no-repeat;
    border-radius:0;
    position: relative;
    border-bottom:5px solid red;
}

.plan{
    width:100%;
    height:100px;
    padding:15px;
}

.plan h2{
    font-size:30px;
    font-family:cursive;
    color:yellow;
    text-shadow:1px 1px red;
    letter-spacing:3px;
    text-align:center;

}


.clear{
    width : 100%;
    height: 45px;
    padding:10px;
}
.clear i{
    font-size: 25px;
    color: yellow;
    float:right;
}
.clear i:hover{
    cursor: pointer;
    text-shadow: 1px 3px 5px #000;
    transform: rotate(45deg);
    /* transition:all 0.6s ease; */
}


#date{
    padding:10px;
    width:100%;
    color: yellow;
    text-shadow:1px 1px red;
    font-size: 20px;
    font-family: 'Titillium Web', sans-serif;
}



/* ------------ content ------------ */
.content{
    width:100%;
    height: 345px;
    overflow: auto;
    background-image: url('../img/bg.png');
    background-size:cover;
    background-position:center;
}


.content::-webkit-scrollbar { 
    display: none; 
}


.item{
    background:#9191c1;
    width:100%;
    height: 45px;
    position: relative;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    list-style: none;
    padding: 0;
    margin: 0;
}


.fa-circle-thin{
    position: absolute;
    font-size: 15px;
    padding-left:5px;
    left:5px;
    top:11.5px;
    color:white;
}
.item i.co:hover{
    cursor: pointer;
}
.fa-check-circle{
    position: absolute;
    font-size: 15px;
    padding-left:5px;
    left:5px;
    top:11.5px;
    color:#c1ff01;
    text-shadow:1px 0px white;
}

.text{
    position: absolute;
    padding:0;
    margin:0;
    font-size: 15px;
    left:30px;
    top:8px;
    background-color: transparent;
    width:100%;
    color:white;
}

.lineThrough{
    text-decoration: line-through;
    color : red;
}

.item i.de{
    position: absolute;
    font-size: 20px;
    right:15px;
    top:10px;
    color:red;
}

.item i.de:hover{
    color:#af0000;
    cursor: pointer;
}


/* ------------ add item ------------ */
.add-to-do{
    position: relative;
    width: 100%;
    height:65px;
    background-color: #2a2aad;
    padding: 10px;
}


.add-to-do i{
    position: absolute;
    font-size: 30px;
    color: yellow;
    top:20%;
}

.add-to-do input{
    position: absolute;
    left: 40px;
    width: 80%;
    background-color: none;
    font-size: 15px;
    padding:10px;
    color:blue;
    background:white;
    border-radius:5px;
    border:none;
}


.add-to-do input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #4162f6;
    font-family: 'Titillium Web', sans-serif;
    font-size: 15px;
}
.add-to-do input::-moz-placeholder { /* Firefox 19+ */
    color: #4162f6;
    font-family: 'Titillium Web', sans-serif;
    font-size: 15px;
}
.add-to-do input:-ms-input-placeholder { /* IE 10+ */
    color: #4162f6;
    font-family: 'Titillium Web', sans-serif;
    font-size: 15px;
}
.add-to-do input:-moz-placeholder { /* Firefox 18- */
    color: #4162f6;
    font-family: 'Titillium Web', sans-serif;
    font-size: 15px;
}

}









/* =====THE SECTION OF THE MEDIA QUERY======= */

@media screen and (max-width:425px) and (min-width:376px){

    *{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
    
body{
    padding: 0;
    margin: 0;
    font-family: 'Titillium Web', sans-serif;
    background-image: url('../img/bg.png');
/*     background-position:center;
    background-size:cover; */

}

body::-webkit-scrollbar { 
    display: none; 
}



/* ------------ container ------------ */
.container{
    width:90%;
    height:200px;
    position:absolute;
    top:20%;
    left:50%;
    transform:translate(-50%,-50%);
}


/* ------------ header ------------ */
.header{
    width: 100%;
    height:200px;
    background-image: url('../img/bg.png');
    background-size: 100% 200%;
    background-repeat: no-repeat;
    border-radius:0;
    position: relative;
    border-bottom:5px solid red;
}

.plan{
    width:100%;
    height:100px;
    padding:15px;
}

.plan h2{
    font-size:30px;
    font-family:cursive;
    color:yellow;
    text-shadow:1px 1px red;
    letter-spacing:3px;
    text-align:center;

}


.clear{
    width : 100%;
    height: 45px;
    padding:10px;
}
.clear i{
    font-size: 25px;
    color: yellow;
    float:right;
}
.clear i:hover{
    cursor: pointer;
    text-shadow: 1px 3px 5px #000;
    transform: rotate(45deg);
    /* transition:all 0.6s ease; */
}


#date{
    padding:10px;
    width:100%;
    color: yellow;
    text-shadow:1px 1px red;
    font-size: 20px;
    font-family: 'Titillium Web', sans-serif;
}



/* ------------ content ------------ */
.content{
    width:100%;
    height: 400px;
    overflow: auto;
    background-image: url('../img/bg.png');
    background-size:cover;
    background-position:center;
}


.content::-webkit-scrollbar { 
    display: none; 
}


.item{
    background:#9191c1;
    width:100%;
    height: 45px;
    position: relative;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    list-style: none;
    padding: 0;
    margin: 0;
}


.fa-circle-thin{
    position: absolute;
    font-size: 15px;
    padding-left:5px;
    left:5px;
    top:11.5px;
    color:white;
}
.item i.co:hover{
    cursor: pointer;
}
.fa-check-circle{
    position: absolute;
    font-size: 15px;
    padding-left:5px;
    left:5px;
    top:11.5px;
    color:#c1ff01;
    text-shadow:1px 0px white;
}

.text{
    position: absolute;
    padding:0;
    margin:0;
    font-size: 15px;
    left:30px;
    top:8px;
    background-color: transparent;
    width:100%;
    color:white;
}

.lineThrough{
    text-decoration: line-through;
    color : red;
}

.item i.de{
    position: absolute;
    font-size: 20px;
    right:15px;
    top:10px;
    color:red;
}

.item i.de:hover{
    color:#af0000;
    cursor: pointer;
}


/* ------------ add item ------------ */
.add-to-do{
    position: relative;
    width: 100%;
    height:65px;
    background-color: #2a2aad;
    padding: 10px;
}


.add-to-do i{
    position: absolute;
    font-size: 30px;
    color: yellow;
    top:20%;
}

.add-to-do input{
    position: absolute;
    left: 40px;
    width: 80%;
    background-color: none;
    font-size: 15px;
    padding:10px;
    color:blue;
    background:white;
    border-radius:5px;
    border:none;
}


.add-to-do input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #4162f6;
    font-family: 'Titillium Web', sans-serif;
    font-size: 15px;
}
.add-to-do input::-moz-placeholder { /* Firefox 19+ */
    color: #4162f6;
    font-family: 'Titillium Web', sans-serif;
    font-size: 15px;
}
.add-to-do input:-ms-input-placeholder { /* IE 10+ */
    color: #4162f6;
    font-family: 'Titillium Web', sans-serif;
    font-size: 15px;
}
.add-to-do input:-moz-placeholder { /* Firefox 18- */
    color: #4162f6;
    font-family: 'Titillium Web', sans-serif;
    font-size: 15px;
}

}









/* =====THE SECTION OF THE MEDIA QUERY======= */

@media screen and (max-width:540px) and (min-width:426px){

    *{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
    
body{
    padding: 0;
    margin: 0;
    font-family: 'Titillium Web', sans-serif;
    background-image: url('../img/bg.png');
/*     background-position:center;
    background-size:cover; */

}

body::-webkit-scrollbar { 
    display: none; 
}



/* ------------ container ------------ */
.container{
    width:90%;
    height:200px;
    position:absolute;
    top:20%;
    left:50%;
    transform:translate(-50%,-50%);
}


/* ------------ header ------------ */
.header{
    width: 100%;
    height:200px;
    background-image: url('../img/bg.png');
    background-size: 100% 200%;
    background-repeat: no-repeat;
    border-radius:0;
    position: relative;
    border-bottom:5px solid red;
}

.plan{
    width:100%;
    height:100px;
    padding:15px;
}

.plan h2{
    font-size:30px;
    font-family:cursive;
    color:yellow;
    text-shadow:1px 1px red;
    letter-spacing:3px;
    text-align:center;

}


.clear{
    width : 100%;
    height: 45px;
    padding:10px;
}
.clear i{
    font-size: 25px;
    color: yellow;
    float:right;
}
.clear i:hover{
    cursor: pointer;
    text-shadow: 1px 3px 5px #000;
    transform: rotate(45deg);
    /* transition:all 0.6s ease; */
}


#date{
    padding:10px;
    width:100%;
    color: yellow;
    text-shadow:1px 1px red;
    font-size: 20px;
    font-family: 'Titillium Web', sans-serif;
}



/* ------------ content ------------ */
.content{
    width:100%;
    height: 430px;
    overflow: auto;
    background-image: url('../img/bg.png');
    background-size:cover;
    background-position:center;
}


.content::-webkit-scrollbar { 
    display: none; 
}


.item{
    background:#9191c1;
    width:100%;
    height: 45px;
    position: relative;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    list-style: none;
    padding: 0;
    margin: 0;
}


.fa-circle-thin{
    position: absolute;
    font-size: 15px;
    padding-left:5px;
    left:5px;
    top:11.5px;
    color:white;
}
.item i.co:hover{
    cursor: pointer;
}
.fa-check-circle{
    position: absolute;
    font-size: 15px;
    padding-left:5px;
    left:5px;
    top:11.5px;
    color:#c1ff01;
    text-shadow:1px 0px white;
}

.text{
    position: absolute;
    padding:0;
    margin:0;
    font-size: 15px;
    left:30px;
    top:8px;
    background-color: transparent;
    width:100%;
    color:white;
}

.lineThrough{
    text-decoration: line-through;
    color : red;
}

.item i.de{
    position: absolute;
    font-size: 20px;
    right:15px;
    top:10px;
    color:red;
}

.item i.de:hover{
    color:#af0000;
    cursor: pointer;
}


/* ------------ add item ------------ */
.add-to-do{
    position: relative;
    width: 100%;
    height:65px;
    background-color: #2a2aad;
    padding: 10px;
}


.add-to-do i{
    position: absolute;
    font-size: 30px;
    color: yellow;
    top:20%;
}

.add-to-do input{
    position: absolute;
    left: 40px;
    width: 80%;
    background-color: none;
    font-size: 15px;
    padding:10px;
    color:blue;
    background:white;
    border-radius:5px;
    border:none;
}


.add-to-do input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #4162f6;
    font-family: 'Titillium Web', sans-serif;
    font-size: 15px;
}
.add-to-do input::-moz-placeholder { /* Firefox 19+ */
    color: #4162f6;
    font-family: 'Titillium Web', sans-serif;
    font-size: 15px;
}
.add-to-do input:-ms-input-placeholder { /* IE 10+ */
    color: #4162f6;
    font-family: 'Titillium Web', sans-serif;
    font-size: 15px;
}
.add-to-do input:-moz-placeholder { /* Firefox 18- */
    color: #4162f6;
    font-family: 'Titillium Web', sans-serif;
    font-size: 15px;
}

}











/* =====THE SECTION OF THE MEDIA QUERY======= */

@media screen and (max-width:768px) and (min-width:541px){

    *{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
    
body{
    padding: 0;
    margin: 0;
    font-family: 'Titillium Web', sans-serif;
    background-image: url('../img/bg.png');
/*     background-position:center;
    background-size:cover; */

}

body::-webkit-scrollbar { 
    display: none; 
}



/* ------------ container ------------ */
.container{
    width:90%;
    height:200px;
    position:absolute;
    top:20%;
    left:50%;
    transform:translate(-50%,-50%);
}


/* ------------ header ------------ */
.header{
    width: 100%;
    height:200px;
    background-image: url('../img/bg.png');
    background-size: 100% 200%;
    background-repeat: no-repeat;
    border-radius:0;
    position: relative;
    border-bottom:5px solid red;
}

.plan{
    width:100%;
    height:100px;
    padding:15px;
}

.plan h2{
    font-size:30px;
    font-family:cursive;
    color:yellow;
    text-shadow:1px 1px red;
    letter-spacing:3px;
    text-align:center;

}


.clear{
    width : 100%;
    height: 45px;
    padding:10px;
}
.clear i{
    font-size: 25px;
    color: yellow;
    float:right;
}
.clear i:hover{
    cursor: pointer;
    text-shadow: 1px 3px 5px #000;
    transform: rotate(45deg);
    /* transition:all 0.6s ease; */
}


#date{
    padding:10px;
    width:100%;
    color: yellow;
    text-shadow:1px 1px red;
    font-size: 20px;
    font-family: 'Titillium Web', sans-serif;
}



/* ------------ content ------------ */
.content{
    width:100%;
    height: 430px;
    overflow: auto;
    background-image: url('../img/bg.png');
    background-size:cover;
    background-position:center;
}


.content::-webkit-scrollbar { 
    display: none; 
}


.item{
    background:#9191c1;
    width:100%;
    height: 45px;
    position: relative;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    list-style: none;
    padding: 0;
    margin: 0;
}


.fa-circle-thin{
    position: absolute;
    font-size: 15px;
    padding-left:5px;
    left:5px;
    top:11.5px;
    color:white;
}
.item i.co:hover{
    cursor: pointer;
}
.fa-check-circle{
    position: absolute;
    font-size: 15px;
    padding-left:5px;
    left:5px;
    top:11.5px;
    color:#c1ff01;
    text-shadow:1px 0px white;
}

.text{
    position: absolute;
    padding:0;
    margin:0;
    font-size: 15px;
    left:30px;
    top:8px;
    background-color: transparent;
    width:100%;
    color:white;
}

.lineThrough{
    text-decoration: line-through;
    color : red;
}

.item i.de{
    position: absolute;
    font-size: 20px;
    right:15px;
    top:10px;
    color:red;
}

.item i.de:hover{
    color:#af0000;
    cursor: pointer;
}


/* ------------ add item ------------ */
.add-to-do{
    position: relative;
    width: 100%;
    height:65px;
    background-color: #2a2aad;
    padding: 10px;
}


.add-to-do i{
    position: absolute;
    font-size: 30px;
    color: yellow;
    top:20%;
}

.add-to-do input{
    position: absolute;
    left: 40px;
    width: 80%;
    background-color: none;
    font-size: 15px;
    padding:10px;
    color:blue;
    background:white;
    border-radius:5px;
    border:none;
}


.add-to-do input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #4162f6;
    font-family: 'Titillium Web', sans-serif;
    font-size: 15px;
}
.add-to-do input::-moz-placeholder { /* Firefox 19+ */
    color: #4162f6;
    font-family: 'Titillium Web', sans-serif;
    font-size: 15px;
}
.add-to-do input:-ms-input-placeholder { /* IE 10+ */
    color: #4162f6;
    font-family: 'Titillium Web', sans-serif;
    font-size: 15px;
}
.add-to-do input:-moz-placeholder { /* Firefox 18- */
    color: #4162f6;
    font-family: 'Titillium Web', sans-serif;
    font-size: 15px;
}

}







/* =====THE SECTION OF THE MEDIA QUERY======= */

@media screen and (max-width:1024px) and (min-width:769px){

*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
    
body{
    padding: 0;
    margin: 0;
    font-family: 'Titillium Web', sans-serif;
    background-image: url('../img/bg.png');

}

body::-webkit-scrollbar { 
    display: none; 
}



/* ------------ container ------------ */
.container{
    width:40%;
    height:350px;
    position:absolute;
    top:30%;
    left:50%;
    transform:translate(-50%,-50%);
}


/* ------------ header ------------ */
.header{
    width: 100%;
    height:200px;
    background-image: url('../img/bg.png');
    background-size: 100% 200%;
    background-repeat: no-repeat;
    border-radius:0;
    position: relative;
    border-bottom:5px solid red;
}

.plan{
    width:100%;
    height:100px;
    padding:15px;
}

.plan h2{
    font-size:40px;
    font-family:cursive;
    color:yellow;
    text-shadow:1px 1px red;
    letter-spacing:3px;
    text-align:center;

}


.clear{
    width : 100%;
    height: 45px;
    padding:10px;
}
.clear i{
    font-size: 25px;
    color: yellow;
    float:right;
}
.clear i:hover{
    cursor: pointer;
    text-shadow: 1px 3px 5px #000;
    transform: rotate(45deg);
    /* transition:all 0.6s ease; */
}


#date{
    padding:10px;
    width:100%;
    color: yellow;
    text-shadow:1px 1px red;
    font-size: 20px;
    font-family: 'Titillium Web', sans-serif;
}



/* ------------ content ------------ */
.content{
    width:100%;
    height: 400px;
    overflow: auto;
    background-image: url('../img/bg.png');
    background-size:cover;
    background-position:center;
}


.content::-webkit-scrollbar { 
    display: none; 
}


.item{
    background:#9191c1;
    width:100%;
    height: 45px;
    position: relative;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    list-style: none;
    padding: 0;
    margin: 0;
}


.fa-circle-thin{
    position: absolute;
    font-size: 25px;
    padding-left:5px;
    left:15px;
    top:10px;
    color:white;
}
.item i.co:hover{
    cursor: pointer;
}
.fa-check-circle{
    position: absolute;
    font-size: 25px;
    padding-left:5px;
    left:15px;
    top:10px;
    color:#c1ff01;
    text-shadow:1px 0px white;
}

.text{
    position: absolute;
    padding:0;
    margin:0;
    font-size: 20px;
    left:60px;
    top:5px;
    background-color: transparent;
    width:100%;
    color:white;
}

.lineThrough{
    text-decoration: line-through;
    color : red;
}

.item i.de{
    position: absolute;
    font-size: 25px;
    right:15px;
    top:10px;
    color:red;
}

.item i.de:hover{
    color:#af0000;
    cursor: pointer;
}


/* ------------ add item ------------ */
.add-to-do{
    position: relative;
    width: 100%;
    height:75px;
    background-color: #2a2aad;
    padding: 10px;
}


.add-to-do i{
    position: absolute;
    font-size: 40px;
    color: yellow;
    top:20%;
}

.add-to-do input{
    position: absolute;
    left: 50px;
    width: 83%;
    background-color: none;
    font-size: 15px;
    padding:15px 10px;
    color:blue;
    background:white;
    border-radius:5px;
    border:none;
}


.add-to-do input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #4162f6;
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
}
.add-to-do input::-moz-placeholder { /* Firefox 19+ */
    color: #4162f6;
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
}
.add-to-do input:-ms-input-placeholder { /* IE 10+ */
    color: #4162f6;
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
}
.add-to-do input:-moz-placeholder { /* Firefox 18- */
    color: #4162f6;
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
}

}











/* =====THE SECTION OF THE MEDIA QUERY FOR IPAD ======= */

@media screen and (max-width:768px) and (min-width:767px)
 and (min-height:1024px) and (min-height:1024px){

    *{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
    
body{
    padding: 0;
    margin: 0;
    font-family: 'Titillium Web', sans-serif;
    background-image: url('../img/bg.png');
/*     background-position:center;
    background-size:cover; */

}

body::-webkit-scrollbar { 
    display: none; 
}



/* ------------ container ------------ */
.container{
    width:90%;
    height:200px;
    position:absolute;
    top:20%;
    left:50%;
    transform:translate(-50%,-50%);
}


/* ------------ header ------------ */
.header{
    width: 100%;
    height:250px;
    background-image: url('../img/bg.png');
    background-size: 100% 200%;
    background-repeat: no-repeat;
    border-radius:0;
    position: relative;
    border-bottom:5px solid red;
}

.plan{
    width:100%;
    height:100px;
    padding:15px;
}

.plan h2{
    font-size:40px;
    font-family:cursive;
    color:yellow;
    text-shadow:1px 1px red;
    letter-spacing:3px;
    text-align:center;

}


.clear{
    width : 100%;
    height: 45px;
    padding:10px;
}
.clear i{
    font-size: 25px;
    color: yellow;
    float:right;
}
.clear i:hover{
    cursor: pointer;
    text-shadow: 1px 3px 5px #000;
    transform: rotate(45deg);
    /* transition:all 0.6s ease; */
}


#date{
    padding:10px;
    width:100%;
    color: yellow;
    text-shadow:1px 1px red;
    font-size: 30px;
    font-family: 'Titillium Web', sans-serif;
    margin-top:20px;
}



/* ------------ content ------------ */
.content{
    width:100%;
    height: 530px;
    overflow: auto;
    background-image: url('../img/bg.png');
    background-size:cover;
    background-position:center;
}


.content::-webkit-scrollbar { 
    display: none; 
}


.item{
    background:#9191c1;
    width:100%;
    height: 55px;
    position: relative;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    list-style: none;
    padding: 0;
    margin: 0;
}


.fa-circle-thin{
    position: absolute;
    font-size: 25px;
    padding-left:5px;
    left:5px;
    top:11.5px;
    color:white;
}
.item i.co:hover{
    cursor: pointer;
}
.fa-check-circle{
    position: absolute;
    font-size: 25px;
    padding-left:5px;
    left:5px;
    top:11.5px;
    color:#c1ff01;
    text-shadow:1px 0px white;
}

.text{
    position: absolute;
    padding:0;
    margin:0;
    font-size: 25px;
    left:50px;
    top:5px;
    background-color: transparent;
    width:100%;
    color:white;
}

.lineThrough{
    text-decoration: line-through;
    color : red;
}

.item i.de{
    position: absolute;
    font-size: 30px;
    right:15px;
    top:10px;
    color:red;
}

.item i.de:hover{
    color:#af0000;
    cursor: pointer;
}


/* ------------ add item ------------ */
.add-to-do{
    position: relative;
    width: 100%;
    height:85px;
    background-color: #2a2aad;
    padding: 10px;
}


.add-to-do i{
    position: absolute;
    font-size: 50px;
    color: yellow;
    top:15%;
}

.add-to-do input{
    position: absolute;
    left: 70px;
    width: 85%;
    background-color: none;
    font-size: 20px;
    padding:20px;
    color:blue;
    background:white;
    border-radius:5px;
    border:none;
}


.add-to-do input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #4162f6;
    font-family: 'Titillium Web', sans-serif;
    font-size: 25px;
}
.add-to-do input::-moz-placeholder { /* Firefox 19+ */
    color: #4162f6;
    font-family: 'Titillium Web', sans-serif;
    font-size: 25px;
}
.add-to-do input:-ms-input-placeholder { /* IE 10+ */
    color: #4162f6;
    font-family: 'Titillium Web', sans-serif;
    font-size: 25px;
}
.add-to-do input:-moz-placeholder { /* Firefox 18- */
    color: #4162f6;
    font-family: 'Titillium Web', sans-serif;
    font-size: 25px;
}

}


